{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>IMAGES UPLOAD</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="container">
    <h1> UPLOAD IMAGES </h1>
    <form action="/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
        <h3><a href="{% url 'search-page' %}"><i>Go to Gallery</i></a></h3>
    </form>
    </div>
</body>
</html>